@import '@/styles/variables';

.iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background: #{$solidwhite};
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
