@import '@/styles/variables';

.iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background: #{$solidwhite};
  box-shadow: #{$boxShadow};
  transition: transform 0.3s ease-in-out;
  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
}
