@import '@/styles/mixins';

.homeContents {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 76px - 52px - 24px - 24px);
  & .box {
    & .mainText {
      width: 100%;
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }
  @include xl {
    height: calc(100vh - 52px - 52px - 24px - 24px);
  }
  @include md {
    & .box {
      & .mainText {
        font-size: 1.4rem;
      }
    }
  }
}
