@import '@/styles/variables';

.projectItem {
  position: relative;
  width: 100%;
  padding: 16px;
  border-radius: 32px;
  box-shadow: #{$boxShadow};
  transition: transform 0.3s ease-in-out;
  @media (hover: hover) {
    &:hover {
      transform: scale(1.01);
    }
  }
  & .imageFrame {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    border-radius: 16px;
    box-shadow: #{$boxShadow};
    overflow: hidden;
    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .projectInfo {
    padding: 12px 0 20px 0;
    & .projectTitle {
      font-weight: 500;
    }
    & .projectDescList {
      margin-top: 12px;
      & .projectUrlList {
        display: flex;
        align-items: center;
        gap: 12px;
      }
      & > li {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        & span {
          font-size: 0.9rem;
        }
      }
    }
  }
}
