// Colors
$solidwhite: '#FDFEFF';
$darkgrey: '#121212';
$darkcard: '#181818';
$gray1: '#F5F5F5';
$gray2: '#EEEEEE';
$gray3: '#E0E0E0';
$gray4: '#BDBDBD';
$gray5: '#9E9E9E';
$gray6: '#757575';
$gray7: '#616161';
$gray8: '#424242';
$gray9: '#212121';

// Shadow
$boxShadow: 'rgba(99, 99, 99, 0.2) 0px 2px 8px 0px';

// Breakpoints
$xl: 1280px;
$lg: 1024px;
$md: 750px;
$sm: 540px;
$xs: 360px;
