@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
@import './variables';
@import './mixins';

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* Custom Styles */
body {
  font-family: Noto Sans KR, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  text-underline-offset: 2px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: #{$gray9};
}

main {
  width: 100%;
  max-width: 1240px;
  min-height: calc(100vh - 52px - 76px);
  margin: 0 auto;
  margin-top: 76px;
  @media (max-width: 1280px) {
    min-height: calc(100vh - 52px - 52px);
    margin-top: 52px;
  }
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

::selection {
  color: #{$solidwhite};
  background: #{$gray9};
}

// Skeleton UI
@-webkit-keyframes skeleton-animation {
  0% {
    background: rgba(66, 66, 66, 0.1);
  }

  50% {
    background: rgba(117, 117, 117, 0.3);
  }

  100% {
    background: rgba(66, 66, 66, 0.1);
  }
}

@keyframes skeleton-animation {
  0% {
    background: rgba(66, 66, 66, 0.1);
  }

  50% {
    background: rgba(117, 117, 117, 0.3);
  }

  100% {
    background: rgba(66, 66, 66, 0.1);
  }
}

.skeleton-list-item {
  -webkit-animation: skeleton-animation 0.85s infinite ease-in-out;
  animation: skeleton-animation 0.85s infinite ease-in-out;
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #{$gray9};
}

::-webkit-scrollbar-track {
  background: transparent;
}
