@import '@/styles/variables';
@import '@/styles/mixins';

.aboutSkillList {
  padding: 16px 20px;
  background: #{$solidwhite};
  border-radius: 20px;
  box-shadow: #{$boxShadow};
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  & h4 {
    font-weight: 500;
    margin-bottom: 8px;
  }
  & .aboutSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    & li {
      & img {
        width: 52px;
        height: 52px;
        transition: transform 0.3s ease-in-out;
        @media (hover: hover) {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  @include xs {
    & .aboutSkills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
